<div class="container mt-4">

  <h2><%= @restaurant.name %></h2>
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Phone number: <%= @restaurant.phone_number %></h3>
  <h3>Category: <%= @restaurant.category %></h3>

</div>
